appdirs==1.4.3
asgiref==3.2.5
astroid==2.3.3
climage==0.1.3
colorama==0.4.3
distlib==0.3.0
Django==3.0.4
filelock==3.0.12
isort==4.3.21
kdtree==0.16
lazy-object-proxy==1.4.3
mccabe==0.6.1
packaging==20.3
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pylint==2.4.4
pylint-django==2.0.14
pylint-plugin-utils==0.6
pyparsing==2.4.6
pytesseract==0.3.3
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
toml==0.10.0
tox==3.14.6
virtualenv==20.0.15
whitenoise==5.0.1
wrapt==1.11.2
